.left
{
    height: 45px;
    width: 200px;
    background-color: blue;
    position: static;
}
.right
{
    height: 500px;
    width: 150px;
    background-color: red;
    position: relative; /*( donne le pouvoir d'utilisé top buttom left right') */
    top : 100px; /*elle sera espacé de du haut de 100px*/
    left: 30px; /*elle sera espacé de du gauche de 30px*/
}